<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,192}</string>
                <key>spriteSourceSize</key>
                <string>{160,192}</string>
                <key>textureRect</key>
                <string>{{259,1},{160,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,192}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{421,1},{128,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buildings.png</string>
            <key>size</key>
            <string>{550,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db17e5283a7154581c5c14dd25542f87:8521235999b16dc99f7aa8945fc36e56:818af6a5eabbb3dafdc4ce3f6ee432bd$</string>
            <key>textureFileName</key>
            <string>buildings.png</string>
        </dict>
    </dict>
</plist>
