<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,282},{69,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,134}}</string>
                <key>sourceSize</key>
                <string>{69,134}</string>
            </dict>
            <key>skill/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,237},{54,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,106}}</string>
                <key>sourceSize</key>
                <string>{54,106}</string>
            </dict>
            <key>skill/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,298},{86,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,140}}</string>
                <key>sourceSize</key>
                <string>{86,140}</string>
            </dict>
            <key>skill/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,646},{66,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,119}}</string>
                <key>sourceSize</key>
                <string>{66,119}</string>
            </dict>
            <key>skill/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,724},{42,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,134}}</string>
                <key>sourceSize</key>
                <string>{42,134}</string>
            </dict>
            <key>skill/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,121},{86,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{86,114}</string>
            </dict>
            <key>skill/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,270},{110,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,127}}</string>
                <key>sourceSize</key>
                <string>{110,127}</string>
            </dict>
            <key>skill/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,2},{85,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,113}}</string>
                <key>sourceSize</key>
                <string>{85,113}</string>
            </dict>
            <key>skill/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,688},{80,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,129}}</string>
                <key>sourceSize</key>
                <string>{80,129}</string>
            </dict>
            <key>skill/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,525},{111,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,122}}</string>
                <key>sourceSize</key>
                <string>{111,122}</string>
            </dict>
            <key>skill/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,365},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>skill/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,248},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>skill/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,649},{83,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{83,121}</string>
            </dict>
            <key>skill/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{85,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,125}}</string>
                <key>sourceSize</key>
                <string>{85,125}</string>
            </dict>
            <key>skill/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,117},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>skill/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,477},{92,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,84}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>skill/4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,411},{69,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,132}}</string>
                <key>sourceSize</key>
                <string>{69,132}</string>
            </dict>
            <key>skill/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{54,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,142}}</string>
                <key>sourceSize</key>
                <string>{54,142}</string>
            </dict>
            <key>skill/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{84,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,97}}</string>
                <key>sourceSize</key>
                <string>{84,97}</string>
            </dict>
            <key>skill/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,947},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>stand/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>stand/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,138},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>stand/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,276},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>stand/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,418},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>stand/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,576},{40,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,134}}</string>
                <key>sourceSize</key>
                <string>{40,134}</string>
            </dict>
            <key>stand/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,712},{40,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,134}}</string>
                <key>sourceSize</key>
                <string>{40,134}</string>
            </dict>
            <key>stand/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,860},{40,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,134}}</string>
                <key>sourceSize</key>
                <string>{40,134}</string>
            </dict>
            <key>stand/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,576},{40,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,134}}</string>
                <key>sourceSize</key>
                <string>{40,134}</string>
            </dict>
            <key>stand/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,587},{29,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,135}}</string>
                <key>sourceSize</key>
                <string>{29,135}</string>
            </dict>
            <key>stand/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,725},{29,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,135}}</string>
                <key>sourceSize</key>
                <string>{29,135}</string>
            </dict>
            <key>stand/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{29,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,135}}</string>
                <key>sourceSize</key>
                <string>{29,135}</string>
            </dict>
            <key>stand/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{29,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,135}}</string>
                <key>sourceSize</key>
                <string>{29,135}</string>
            </dict>
            <key>stand/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{50,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,134}}</string>
                <key>sourceSize</key>
                <string>{50,134}</string>
            </dict>
            <key>stand/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,553},{46,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,133}}</string>
                <key>sourceSize</key>
                <string>{46,133}</string>
            </dict>
            <key>stand/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,862},{46,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,134}}</string>
                <key>sourceSize</key>
                <string>{46,134}</string>
            </dict>
            <key>stand/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,688},{48,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,133}}</string>
                <key>sourceSize</key>
                <string>{48,133}</string>
            </dict>
            <key>stand/4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,140},{55,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,134}}</string>
                <key>sourceSize</key>
                <string>{55,134}</string>
            </dict>
            <key>stand/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,553},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>stand/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,712},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>stand/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,848},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>walk/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{50,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,143}}</string>
                <key>sourceSize</key>
                <string>{50,143}</string>
            </dict>
            <key>walk/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{51,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,145}}</string>
                <key>sourceSize</key>
                <string>{51,145}</string>
            </dict>
            <key>walk/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,802},{52,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,124}}</string>
                <key>sourceSize</key>
                <string>{52,124}</string>
            </dict>
            <key>walk/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{50,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,136}}</string>
                <key>sourceSize</key>
                <string>{50,136}</string>
            </dict>
            <key>walk/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{46,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,143}}</string>
                <key>sourceSize</key>
                <string>{46,143}</string>
            </dict>
            <key>walk/0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,147}}</string>
                <key>sourceSize</key>
                <string>{48,147}</string>
            </dict>
            <key>walk/0/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{51,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,126}}</string>
                <key>sourceSize</key>
                <string>{51,126}</string>
            </dict>
            <key>walk/0/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,142},{50,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,138}}</string>
                <key>sourceSize</key>
                <string>{50,138}</string>
            </dict>
            <key>walk/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{67,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,138}}</string>
                <key>sourceSize</key>
                <string>{67,138}</string>
            </dict>
            <key>walk/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,147},{75,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,138}}</string>
                <key>sourceSize</key>
                <string>{75,138}</string>
            </dict>
            <key>walk/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,788},{43,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,122}}</string>
                <key>sourceSize</key>
                <string>{43,122}</string>
            </dict>
            <key>walk/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{45,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,130}}</string>
                <key>sourceSize</key>
                <string>{45,130}</string>
            </dict>
            <key>walk/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,418},{55,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,133}}</string>
                <key>sourceSize</key>
                <string>{55,133}</string>
            </dict>
            <key>walk/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,440},{83,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,134}}</string>
                <key>sourceSize</key>
                <string>{83,134}</string>
            </dict>
            <key>walk/1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,257},{76,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,122}}</string>
                <key>sourceSize</key>
                <string>{76,122}</string>
            </dict>
            <key>walk/1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{60,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,136}}</string>
                <key>sourceSize</key>
                <string>{60,136}</string>
            </dict>
            <key>walk/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,545},{65,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,128}}</string>
                <key>sourceSize</key>
                <string>{65,128}</string>
            </dict>
            <key>walk/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,887},{99,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,117}}</string>
                <key>sourceSize</key>
                <string>{99,117}</string>
            </dict>
            <key>walk/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,954},{66,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,119}}</string>
                <key>sourceSize</key>
                <string>{66,119}</string>
            </dict>
            <key>walk/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,772},{62,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,121}}</string>
                <key>sourceSize</key>
                <string>{62,121}</string>
            </dict>
            <key>walk/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,536},{79,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,124}}</string>
                <key>sourceSize</key>
                <string>{79,124}</string>
            </dict>
            <key>walk/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,399},{101,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,122}}</string>
                <key>sourceSize</key>
                <string>{101,122}</string>
            </dict>
            <key>walk/2/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,130},{87,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,125}}</string>
                <key>sourceSize</key>
                <string>{87,125}</string>
            </dict>
            <key>walk/2/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,406},{51,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,128}}</string>
                <key>sourceSize</key>
                <string>{51,128}</string>
            </dict>
            <key>walk/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,767},{55,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,118}}</string>
                <key>sourceSize</key>
                <string>{55,118}</string>
            </dict>
            <key>walk/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,134},{86,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,126}}</string>
                <key>sourceSize</key>
                <string>{86,126}</string>
            </dict>
            <key>walk/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,523},{69,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,121}}</string>
                <key>sourceSize</key>
                <string>{69,121}</string>
            </dict>
            <key>walk/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,950},{72,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,116}}</string>
                <key>sourceSize</key>
                <string>{72,116}</string>
            </dict>
            <key>walk/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,675},{73,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,125}}</string>
                <key>sourceSize</key>
                <string>{73,125}</string>
            </dict>
            <key>walk/3/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,823},{80,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,129}}</string>
                <key>sourceSize</key>
                <string>{80,129}</string>
            </dict>
            <key>walk/3/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,273},{67,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,131}}</string>
                <key>sourceSize</key>
                <string>{67,131}</string>
            </dict>
            <key>walk/3/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,772},{45,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,120}}</string>
                <key>sourceSize</key>
                <string>{45,120}</string>
            </dict>
            <key>walk/4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{50,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,117}}</string>
                <key>sourceSize</key>
                <string>{50,117}</string>
            </dict>
            <key>walk/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,847},{51,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,133}}</string>
                <key>sourceSize</key>
                <string>{51,133}</string>
            </dict>
            <key>walk/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,399},{52,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,124}}</string>
                <key>sourceSize</key>
                <string>{52,124}</string>
            </dict>
            <key>walk/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,895},{50,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,118}}</string>
                <key>sourceSize</key>
                <string>{50,118}</string>
            </dict>
            <key>walk/4/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,662},{48,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,124}}</string>
                <key>sourceSize</key>
                <string>{48,124}</string>
            </dict>
            <key>walk/4/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,137},{48,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,131}}</string>
                <key>sourceSize</key>
                <string>{48,131}</string>
            </dict>
            <key>walk/4/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,819},{51,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,129}}</string>
                <key>sourceSize</key>
                <string>{51,129}</string>
            </dict>
            <key>walk/4/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,129},{50,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,117}}</string>
                <key>sourceSize</key>
                <string>{50,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mid_100001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:396421bddfb5eaf50415fc9bc69bec59:35df6542b05106064545b6585ef96463:cdea35648f878c2e4d78929d27ac404d$</string>
            <key>textureFileName</key>
            <string>mid_100001.png</string>
        </dict>
    </dict>
</plist>
