<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,261},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>skill/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,690},{94,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,130}}</string>
                <key>sourceSize</key>
                <string>{94,130}</string>
            </dict>
            <key>skill/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,712},{105,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,137}}</string>
                <key>sourceSize</key>
                <string>{105,137}</string>
            </dict>
            <key>skill/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,852},{109,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,137}}</string>
                <key>sourceSize</key>
                <string>{109,137}</string>
            </dict>
            <key>skill/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,142}}</string>
                <key>sourceSize</key>
                <string>{94,142}</string>
            </dict>
            <key>skill/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,285},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>skill/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{87,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,139}}</string>
                <key>sourceSize</key>
                <string>{87,139}</string>
            </dict>
            <key>skill/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{103,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,139}}</string>
                <key>sourceSize</key>
                <string>{103,139}</string>
            </dict>
            <key>skill/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,564},{95,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,136}}</string>
                <key>sourceSize</key>
                <string>{95,136}</string>
            </dict>
            <key>skill/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,841},{98,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,131}}</string>
                <key>sourceSize</key>
                <string>{98,131}</string>
            </dict>
            <key>skill/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,690},{97,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,128}}</string>
                <key>sourceSize</key>
                <string>{97,128}</string>
            </dict>
            <key>skill/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,539},{104,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,127}}</string>
                <key>sourceSize</key>
                <string>{104,127}</string>
            </dict>
            <key>skill/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,668},{125,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,126}}</string>
                <key>sourceSize</key>
                <string>{125,126}</string>
            </dict>
            <key>skill/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>skill/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,404},{121,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{121,113}</string>
            </dict>
            <key>skill/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,531},{126,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,116}}</string>
                <key>sourceSize</key>
                <string>{126,116}</string>
            </dict>
            <key>skill/4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,141},{100,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,134}}</string>
                <key>sourceSize</key>
                <string>{100,134}</string>
            </dict>
            <key>skill/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{94,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,141}}</string>
                <key>sourceSize</key>
                <string>{94,141}</string>
            </dict>
            <key>skill/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,396},{107,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,126}}</string>
                <key>sourceSize</key>
                <string>{107,126}</string>
            </dict>
            <key>skill/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,913},{109,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,112}}</string>
                <key>sourceSize</key>
                <string>{109,112}</string>
            </dict>
            <key>stand/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,138},{76,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,134}}</string>
                <key>sourceSize</key>
                <string>{76,134}</string>
            </dict>
            <key>stand/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{82,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,133}}</string>
                <key>sourceSize</key>
                <string>{82,133}</string>
            </dict>
            <key>stand/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,277},{78,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{78,134}</string>
            </dict>
            <key>stand/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,419},{80,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,134}}</string>
                <key>sourceSize</key>
                <string>{80,134}</string>
            </dict>
            <key>stand/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{67,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,137}}</string>
                <key>sourceSize</key>
                <string>{67,137}</string>
            </dict>
            <key>stand/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,564},{66,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,137}}</string>
                <key>sourceSize</key>
                <string>{66,137}</string>
            </dict>
            <key>stand/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,143},{67,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,137}}</string>
                <key>sourceSize</key>
                <string>{67,137}</string>
            </dict>
            <key>stand/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,143},{68,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,137}}</string>
                <key>sourceSize</key>
                <string>{68,137}</string>
            </dict>
            <key>stand/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{56,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,138}}</string>
                <key>sourceSize</key>
                <string>{56,138}</string>
            </dict>
            <key>stand/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,849},{54,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,137}}</string>
                <key>sourceSize</key>
                <string>{54,137}</string>
            </dict>
            <key>stand/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,424},{55,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,136}}</string>
                <key>sourceSize</key>
                <string>{55,136}</string>
            </dict>
            <key>stand/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{57,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,138}}</string>
                <key>sourceSize</key>
                <string>{57,138}</string>
            </dict>
            <key>stand/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,820},{75,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{75,128}</string>
            </dict>
            <key>stand/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,822},{75,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,130}}</string>
                <key>sourceSize</key>
                <string>{75,130}</string>
            </dict>
            <key>stand/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{76,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,128}}</string>
                <key>sourceSize</key>
                <string>{76,128}</string>
            </dict>
            <key>stand/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,137},{77,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,128}}</string>
                <key>sourceSize</key>
                <string>{77,128}</string>
            </dict>
            <key>stand/4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,130},{84,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,126}}</string>
                <key>sourceSize</key>
                <string>{84,126}</string>
            </dict>
            <key>stand/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,132},{82,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,127}}</string>
                <key>sourceSize</key>
                <string>{82,127}</string>
            </dict>
            <key>stand/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{82,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,126}}</string>
                <key>sourceSize</key>
                <string>{82,126}</string>
            </dict>
            <key>stand/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,130},{84,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>walk/0/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,274},{97,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,133}}</string>
                <key>sourceSize</key>
                <string>{97,133}</string>
            </dict>
            <key>walk/0/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,413},{99,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,133}}</string>
                <key>sourceSize</key>
                <string>{99,133}</string>
            </dict>
            <key>walk/0/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{95,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,140}}</string>
                <key>sourceSize</key>
                <string>{95,140}</string>
            </dict>
            <key>walk/0/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,431},{98,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,138}}</string>
                <key>sourceSize</key>
                <string>{98,138}</string>
            </dict>
            <key>walk/0/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{96,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,140}}</string>
                <key>sourceSize</key>
                <string>{96,140}</string>
            </dict>
            <key>walk/0/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,137},{95,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,133}}</string>
                <key>sourceSize</key>
                <string>{95,133}</string>
            </dict>
            <key>walk/1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,571},{101,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,137}}</string>
                <key>sourceSize</key>
                <string>{101,137}</string>
            </dict>
            <key>walk/1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,144},{105,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,139}}</string>
                <key>sourceSize</key>
                <string>{105,139}</string>
            </dict>
            <key>walk/1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{100,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,138}}</string>
                <key>sourceSize</key>
                <string>{100,138}</string>
            </dict>
            <key>walk/1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,710},{99,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,137}}</string>
                <key>sourceSize</key>
                <string>{99,137}</string>
            </dict>
            <key>walk/1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,285},{96,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,138}}</string>
                <key>sourceSize</key>
                <string>{96,138}</string>
            </dict>
            <key>walk/1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,425},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>walk/2/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{103,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,133}}</string>
                <key>sourceSize</key>
                <string>{103,133}</string>
            </dict>
            <key>walk/2/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,849},{106,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,136}}</string>
                <key>sourceSize</key>
                <string>{106,136}</string>
            </dict>
            <key>walk/2/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,703},{103,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,136}}</string>
                <key>sourceSize</key>
                <string>{103,136}</string>
            </dict>
            <key>walk/2/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,282},{96,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,135}}</string>
                <key>sourceSize</key>
                <string>{96,135}</string>
            </dict>
            <key>walk/2/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,2},{97,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,134}}</string>
                <key>sourceSize</key>
                <string>{97,134}</string>
            </dict>
            <key>walk/2/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,555},{100,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,133}}</string>
                <key>sourceSize</key>
                <string>{100,133}</string>
            </dict>
            <key>walk/3/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,548},{93,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,128}}</string>
                <key>sourceSize</key>
                <string>{93,128}</string>
            </dict>
            <key>walk/3/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,272},{91,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,128}}</string>
                <key>sourceSize</key>
                <string>{91,128}</string>
            </dict>
            <key>walk/3/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,316},{86,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,124}}</string>
                <key>sourceSize</key>
                <string>{86,124}</string>
            </dict>
            <key>walk/3/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,519},{88,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,121}}</string>
                <key>sourceSize</key>
                <string>{88,121}</string>
            </dict>
            <key>walk/3/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,796},{93,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,115}}</string>
                <key>sourceSize</key>
                <string>{93,115}</string>
            </dict>
            <key>walk/3/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,409},{92,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,128}}</string>
                <key>sourceSize</key>
                <string>{92,128}</string>
            </dict>
            <key>walk/4/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,402},{97,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,127}}</string>
                <key>sourceSize</key>
                <string>{97,127}</string>
            </dict>
            <key>walk/4/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,216},{98,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,124}}</string>
                <key>sourceSize</key>
                <string>{98,124}</string>
            </dict>
            <key>walk/4/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,911},{95,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,110}}</string>
                <key>sourceSize</key>
                <string>{95,110}</string>
            </dict>
            <key>walk/4/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,796},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
            <key>walk/4/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,659},{96,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{96,112}</string>
            </dict>
            <key>walk/4/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,267},{95,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,127}}</string>
                <key>sourceSize</key>
                <string>{95,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mid_11102.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f32994c4899b48c2eda5ebb248ba61e:0bec0f84985e99159a31e9b9718f6c7d:c08e94c2ee7ae7e86d321acc38059fd0$</string>
            <key>textureFileName</key>
            <string>mid_11102.png</string>
        </dict>
    </dict>
</plist>
